<div class="medium-top-margin">
  <h2 class="center"> Businesses </h2>
  <div class="row">
    <div class="sidebar col m3">
      <%= render partial: 'partials/side_nav' %>
    </div>
  <div class="col m9">
      <% @businesses.each do |business| %>
        <div class="col s3">
          <div class="card">
            <div class="card-image bus-photo">
              <% if business.photos.empty? %>
                <div class="no-photo">
                  <img src="https://s3.amazonaws.com/pivoting/no_photos.png">
                </div>
              <% else %>
                <%= image_tag business.photos.first.image.url(:small) %>
              <% end %>
            </div>
            <div class="card-content">
              <p>Location: <%= business.location %><br>
              Bio: <%= business.bio %></p>
            </div>
            <div class="card-action">
              <%= link_to business.name, business_path(business.slug) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
