<div class="parallax-container">
  <div class="parallax"><%= image_tag @business.photos.first.image.url(:large) %></div>
</div>
<div class="section white">
  <div class="row container">
    <h1 class="header">About <%= @business.name %></h1>
    <h3 class="grey-text text-darken-3 lighten-3"> <%= @business.location %></h3>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><%= image_tag @business.photos.last.image.url(:large) %></div>
</div>
<div class="section white">
  <div class="row container">
    <h4 class="header"> <%= @business.bio %></h4>
  <%= button_to "Photos", business_photos_path(@business.id), method: :get, class: "btn blue" %>
  </div>
</div>
