<div class="parallax-container">
  <% if @business.photos.empty? %>
    <div class="parallax">
      <img src="https://s3.amazonaws.com/pivoting/no_photos.png" alt="no-photos" width="50%" />
    </div>
  <% else %>
    <div class="parallax"><%= image_tag @business.photos.first.image.url(:large) %></div>
  <% end %>
</div>
<div class="section white">
  <div class="row container">
    <h1 class="header">About <%= @business.name %></h1>
    <h3 class="grey-text text-darken-3 lighten-3"> <%= @business.location %></h2>
  </div>
</div>
<div class="parallax-container">
  <% if @business.photos.empty? %>
  <div class="parallax">
    <img src="https://s3.amazonaws.com/pivoting/no_photos.png" alt="no-photos" width="50%" />
  </div>
  <% else %>
    <div class="parallax"><%= image_tag @business.photos.last.image.url(:large) %></div>
  <% end %>
</div>
<div class="section white">
  <div class="row container">
    <h4 class="header"> <%= @business.bio %></h4>
    <% if @business.photos.empty? %>
      <a class="btn disabled">Photos</a>
    <% else %>
      <%= button_to "Photos", business_photos_path(@business.id), method: :get, class: "btn blue" %>
    <% end %>
  </div>
</div>
