<div class="container large-top-margin">
  <h3><%= @business.name %></h3>
  <p>
    <%= @business.location %>
  </p>
  <p>
    <%= @business.bio %>
  </p>
  <% if @business.photos.empty? %>
    <%= button_to "Shop Now", business_photos_path(@business.id), method: :get, class: "btn disabled" %>
  <% else %>
    <%= button_to "Shop Now", business_photos_path(@business.id), method: :get, class: "btn blue" %>
  <% end %>
</div>
