.container
  %h1.center-align.amber-text= "#{@city.name} Tours"
  %div
    - @trips.each do |trip|
      .container
      .row
      .col.m4
        %h3.amber-text= trip.name
        %img{ src: trip.image_path, height: "200px", width: "200px" }
        %ul.collection
          %li.collection-item
            = "Description: #{trip.description}"
          %li.collection-item
            = "Price: $#{trip.price}"
        = link_to "Add to Cart",
                  cart_trips_path(trip_id: trip.id,
                                  city_id: trip.city),
                                  method: :post,
                                  class: "btn waves-effect waves-light amber"
        %br
        %br
        = link_to "Learn More",
                  city_trip_path(trip.city, trip),
                                 class: "btn waves-effect waves-light amber"

      %br
