.container
  %h1.center-align.amber-text= "#{@city.name} Tours"
  %div
    .row
      - @trips.each do |trip|
        %div{ class: "#{trip.slug} container col-m4"}
          %h3.amber-text= trip.name
          .card
            .card-image
              %img{ src: trip.image_path, height: "400px", width: "400px" }
            .cart-content
              .container
                %p
                  = "#{trip.description}"
                %p.center-align
                  %b= "Price: $#{trip.price}"

            .card-action.center-align
              = link_to "Add to Cart",
                        cart_trips_path(trip_id: trip.id,
                                        city_id: trip.city),
                                        method: :post
              %br
              %br
              = link_to "Learn More",
                        city_trip_path(trip.city, trip)
        %br
