<div class="container large-top-margin">
  <table class="highlight bordered">
    <thead>
      <tr>
        <th colspan="1"></th>
        <th data-field="id">Name</th>
        <th data-field="business">Business</th>
        <th data-field="price">Price</th>
        <th data-field="size">Size</th>
        <th data-field="edit/delete">Edit/Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @cart_photos.each do |photo| %>
      <tr>
        <td> <a href="<%= business_photo_path(identifier: photo.slug, business_name: photo.business.slug) %>"><img src="<%= photo.image.url(:thumbnail)%>" alt="<%= photo.name %>"/></a></td>
        <td><%= photo.name %></td>
        <td><%= photo.business.name %></td>
        <td><%= photo.size.price %></td>
        <td><%= photo.size.name %></td>
        <td><%= link_to "Remove", cart_path(photo_id: photo.id), method: :delete %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% if @cart.contents.empty? %>
    <h4 class="center large-top-margin">
      Please Add items to you cart!
    </h4>
  <% else %>
    <div class="row">
      <div class="col s3 offset-s9 top-margin">
        <div class="right">
          <%= form_tag charges_path do %>
            <article>
              <% if flash[:error].present? %>
                <div id="error_explanation">
                  <p><%= flash[:error] %></p>
                </div>
              <% end %>
            </article>

            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="Stalk-Photos Purchase"
                    data-amount="<%= @cart.total_cost * 100 %>"
                    data-locale="auto">
                    </script>
          <% end %>
        </div>
      </div>
      <%= button_to "Checkout", orders_path, class: "large-top-margin btn blue", method: :post %>
    <% end %>
  </div>
</div>
