<div class="container large-top-margin">
  <table class="highlight bordered">
    <thead>
      <tr>
        <th colspan="1"></th>
        <th data-field="id">Name</th>
        <th data-field="business">Business</th>
        <th data-field="price">Price</th>
        <th data-field="size">Size</th>
        <th data-field="edit/delete">Edit/Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @cart_photos.each do |photo| %>
      <tr>
        <td> <a href="<%= business_photo_path(id: photo.id, business_id: photo.business.id) %>"><img src="<%= photo.image.url(:thumbnail)%>" alt="<%= photo.name %>"/></a></td>
        <td><%= photo.name %></td>
        <td><%= photo.business.name %></td>
        <td><%= photo.size.price %></td>
        <td><%= photo.size.name %></td>
        <td><%= link_to "Remove", cart_path(photo_id: photo.id), method: :delete %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= button_to "Checkout", orders_path, class: "large-top-margin btn blue", method: :post %>
</div>
