- @orders.each do |status, orders|
  %div
    %div{ class: "#{status} status", data: { status: "#{status}"}  }
      %table.highlight
        %thead
          %tr
            %th
              %i= status
        %tbody
          - orders.each do |order|
            = render partial: "order", locals: { order: order,
                                                 status: status }

      .right-align
        %strong= "Total: #{orders.count}"
      %br
