%tr
  %td
    = link_to "Order ##{order.id}", admin_order_path(order)

  - if status == "Ordered"
    %td.center-align
      = link_to "Mark as Paid",
                order_path(order, status: 1),
                method: :patch
    %td.right-align
      = link_to "Cancel", order_path(order, status: 2), method: :patch

  - if status == "Paid"
    %td.center-align
      = link_to "Mark as Completed",
                order_path(order, status: 3),
                method: :patch
    %td.right-align
      = link_to "Cancel", order_path(order, status: 2), method: :patch

  - if status == "Cancelled"
    %td.right-align
      = link_to "Re-order", order_path(order, status: 0), method: :patch
