%h1.center.amber-text Admin Dashboard

.container
  %h3.left-align.amber-text Order Totals by Status:
  = render partial: "filter"
.orders.container
  - @orders.each do |status, orders|
    %div{ class: "#{status} status", data: { status: "#{status}"}  }
      %table
        %thead
          %tr
            %th
              %i= status
        %tbody
          %tr
            - orders.each do |order|
              %td
                = link_to "Order ##{order.id}", admin_order_path(order)
              %td
                - if status == "Ordered"
                  = link_to "Mark as Paid",
                            order_path(order, status: 1),
                            method: :patch
                  = link_to "Cancel", order_path(order, status: 2), method: :patch
                - if status == "Paid"
                  = link_to "Mark as Completed",
                            order_path(order, status: 3),
                            method: :patch
                  = link_to "Cancel", order_path(order, status: 2), method: :patch
      .right-align
        %strong= "Total: #{orders.count}"
    %br
    %br
