<div class="container large-top-margin">
<h2> Edit Photo </h2>
<%= form_for @photo, url: admin_business_photo_path(id: @photo.id, business_id: @business.slug), method: :patch, html: { multipart: true } do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :image, "Attach a New Photo" %>
  <%= f.file_field :image %>
  <%= f.submit "Update Photo", class: "btn blue" %>
<% end  %>
