<div class="container large-top-margin">
<h3>All Photos</h3>
<%= button_to "Add New Photo", new_admin_business_photo_path(@business.id), method: :get %>
<div class="row">
  <% @photos.each do |photo| %>
		  <div class="col s3">
        <div class="card">
          <div class="card-image bus-photo">
            <%= image_tag photo.image.url(:small) %>
          </div>
          <div class="card-content">
            <p><%= photo.description %></p>
          </div>
          <div class="card-action">
            <%= button_to "Edit", edit_admin_business_photo_path(id: photo.id, business_id: photo.business.id), method: :get, class: "btn btn-small blue" %>
            <%= button_to "Delete", admin_business_photo_path(id: photo.id, business_id: photo.business.id), method: :delete, class: "btn btn-small red" %>
          </div>
        </div>
      </div>
  <% end %>
</div>
