<div class="large-top-margin left-margin">
  <div class="row">
    <div class="col s8">
      <img class="materialboxed" src="<%= @photo.image.url(:med)%>" alt="<%= @photo.name %>" data-caption="<%= @photo.description %>"/>
    </div>
    <div class="col s3" id="photo_<%= @photo.id %>">
      <h4> <%= @photo.name %> </h4>
      <p> <%= @photo.description %> </p>
    </div>
  </div>
</div>
