%table
  %thead
    %tr
      %th Name
      %th Quantity
      %th Price
      %th Subtotal

  %tbody
    - @order.photos.each do |photo|
      %tr
        %td
          = photo.name
        %td
          = photo.quantity
        %td
          = "$#{photo.price}"
        %td
          = "$#{photo.subtotal}"
