%table
  %thead
    %tr
      %th Date
      %th User
      %th Address
      %th Status
      %th Total
  %tbody
    %tr
      %td
        = "#{@order.status_timestamp}"
      %td
        = "#{@order.user.first_name} #{@order.user.last_name}"
      %td
        = "#{@order.user.full_address}"
      %td
        = "#{@order.status}"
      %td
        = "$#{@order.total}"
