.order.container
  %h1.center-align= "Order##{@order.id}"
  .order-details
    %h3 Order Details:
    %table
      %thead
        %tr
          %th Date
          %th User
          %th Address
          %th Total
          %th Status
      %tbody
        %tr
          %td
            = "#{@order.status_timestamp}"
          %td
            = "#{@order.user.first_name} #{@order.user.last_name}"
          %td
            = "#{@order.user.full_address}"
          %td
            = "$#{@order.total}"
          %td
            = "#{@order.status}"
  .trips
    %h3 Order Trips:
    %table
      %thead
        %tr
          %th Name
          %th Quantity
          %th Price
          %th Subtotal

      %tbody
        - @order.trips.each do |trip|
          %tr
            %td
              = trip.name
            %td
              = trip.quantity
            %td
              = "$#{trip.price}"
            %td
              = "$#{trip.subtotal}"
