%tr
  %td{ height: "200px", width: "200px" }
    = link_to "Order ##{order.id}", order_path(order)
  %td{ height: "200px", width: "200px" }
    = order.status_timestamp
  %td{ height: "200px", width: "200px" }
    = order.status
  %td{ height: "200px", width: "200px" }
    = "$#{order.total}"
  %td{ height: "200px", width: "200px" }
    - unless order.status == "Cancelled"
      = link_to "Cancel", order_path(order), method: :delete
