<div class="container medium-top-margin">
	<h2 class="center">Welcome, <%=@user.first_name%></h2>
	<h4>
		User Info:
	</h4>
	<table class="bordered highlight">
		<thead>
			<th colspan="1"></th>
			<th>Username</th>
			<th>Name</th>
			<th>Email</th>
		</thead>
		<tbody>
			<tr>
				<td><%= image_tag @user.avatar.url(:small) %></td>
				<td><%= @user.username %></td>
				<td><%= @user.first_name %><%= @user.last_name %></td>
				<td><%= @user.email %></td>
			</tr>
		</tbody>
	</table>
	<div class="row">
		<div class="container center">
			<div class="top-margin col s6">
				<%= button_to "Update Profile", edit_user_path(id: @user.id), method: "get", class: "btn blue" %>
			</div>
			<div class="top-margin col s6">
				<%= button_to "Order History", orders_path(id: @user.id), method: "get", class: "btn blue" %>
			</div>
		</div>
	</div>
	<div class="create-business">
		<div class="row">
			<div class="col s6 offset-s3">
				<div class="container top-margin center apply">
					<h4>Have a business idea?</h4>
					<p>click below to apply!</p>
					<p><%= link_to "Apply!", new_business_path, class: "btn green" %></p>
				</div>
			</div>
		</div>
	</div>
</div>
