<div class="container large-top-margin">
	<h3>
		Welcome, <%=@user.first_name%>
	</h3>
	<h4>
		User Info:
	</h4>
	<table class="bordered highlight">
		<thead>
			<th colspan="1"></th>
			<th>Username</th>
			<th>Name</th>
			<th>Email</th>
		</thead>
		<tbody>
			<tr>
				<td><%= image_tag @user.avatar.url(:small) %></td>
				<td><%= @user.username %></td>
				<td><%= @user.first_name %><%= @user.last_name %></td>
				<td><%= @user.email %></td>
			</tr>
		</tbody>
	</table>
	<div class="top-margin">
			<%= button_to "Update Profile", edit_user_path(id: @user.id), method: "get", class: "btn blue" %>
	</div>
</div>
