%h3= order_trip.city.name
%div{ class: "#{order_trip.slug} container" }
  = link_to "#{order_trip.name}", city_trip_path(order_trip.city, order_trip)
  %br
  %ul.collection
    %li.collection-item
      = "Quantity: #{order_trip.quantity}"
    %li.collection-item
      = "Subtotal: $#{order_trip.subtotal}"
  %br
