.container
  %h1.center_align.amber-text My Orders:
  .orders
    - @orders.each do |order|
      = link_to "Order #{order.id}", order_path(order)
      %i= "#{order.status} on #{order.status_timestamp}"
      = order.total
      - if order.status == "Paid"
        = link_to "Cancel", order_path(order), method: :delete
