%h1.center-align.amber-text My Orders

.container
  %table{ class: "highlight centered" }
    %thead
      %tr
        %th
          Order Number
        %th
          Status
        %th
          Order Date
        %th
          Total Cost
        %th
          Cancel?
    %tbody
      - @orders.each do |order|
        %tr
          %td
            = link_to "Order #{order.id}", order_path(order)

          %td
            = "#{order.status}"

          %td
            = "#{order.status_timestamp}"

          %td
            = order.total

          %td
            - unless order.status == "Cancelled"
              = link_to "Cancel", order_path(order), method: :delete
