<div class="container large-top-margin">
	<h4>
		Order placed on: <%= @order.status_timestamp %>
	</h4>
	<table>
		<thead>
			<th>Name</th>
			<th>Size</th>
			<th>Price</th>
			<th>Status</th>
		</thead>
		<tbody>
		<% @order.order_photos.each do |order_photo| %>
			<tr>
				<td><%= order_photo.photo.name %></td>
				<td><%= order_photo.size.name %></td>
				<td><%= order_photo.size.price %></td>
				<td><%= @order.status %></td>
				<td><%= button_to "Download", download_business_photo_path(order_photo.photo.business, order_photo.photo), method: :get, params: {size: order_photo.size.name}, class: "btn blue" %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>