<div class="container large-top-margin">
<h3> Photos </h3>
  <div class="row">
    <% @photos.each do |photo| %>
      <div class="col s3">
        <div class="card">
          <div class="card-image robo-bus">
            <img src="https://robohash.org/<%= photo.name %>.png">
          </div>
          <div class="card-content">
            <p>Name: <%= photo.name %><br>
            Description: <%= photo.description %><br>
            Price: <%= photo.price %> </p>
          </div>
          <div class="card-action">
            <%= link_to photo.name, business_photo_path(photo) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
