<div class="large-top-margin left-margin">
  <div class="row">
    <div class="col s8">
      <img class="materialboxed" src="<%= @photo.image.url(:med)%>" alt="<%= @photo.name %>" data-caption="<%= @photo.description %>"/>
    </div>
    <div class="col s3">
      <h4> <%= @photo.name %> </h4>
      <p> <%= @photo.description %> </p>
      <%= form_tag cart_photos_path(id: @photo.id), method: :post do %>
        <h6>
          Select size: 
        </h6>
        <%= select_tag 'size', options_from_collection_for_select(Size.all, :id, :name), class: 'browser-default', include_blank: true %><br>
        <%= submit_tag "Add to Cart", class: 'btn blue' %>
      <% end %>
    </div>
  </div>
</div>
