%div{ class: "#{city.slug} col s6" }
  .card.center-align
    .card-image
      %img{ src:"#{ city.image_path }", height: "450px", width: "300px" }
    .card-content
      %p
        = "#{city.short_d}"
    .card-action
      = link_to "#{city.name}", city_trips_path(city)
      %br
      %br
      = link_to "Learn More", city_path(city)
