%h1.center-align.amber-text Choose Your Adventure

.container
.row.col
  - @cities.each do |city|
    .row
      %div{ class: "col s8 offset-s2" }
        .card.center-align
          .card-image
            %img{src:"#{ city.image_path }"}
          .card-content
            %p
              = " #{city.short_d} "
          .card-action
            = link_to "#{city.name}", city_trips_path(city.id)
            %br
            %br
            = link_to "Learn More"
