.container
  %h1.center-align= "#{@city.name} Tours"


  %div
    - @city.categories.each do |category|
      .container
        %h5= category.name
        %img{ src: category.image_path, height: "200px", width: "200px" }
        %ul.collection
          %li.collection-item
            = "Description: #{category.description}"
          %li.collection-item
            = "Price: $#{category.price}"
        = button_to "Add to Cart",
                    cart_categories_path(category_id: category.id,
                                         city_id: category.city_id)
      %br
