.container
  %h1.center-align= "#{@category.name}"


  %div
    - @category.options.each do |option|
      .container
        %h5= option.name
        %ul.collection
          %li.collection-item
            = "Description: #{option.description}"
          %li.collection-item
            = "Price: #{option.price}"
      %br
