%h1= "#{@category.name}"


%div
  %h2 Options
  - @category.options.each do |option|
    = "Name: #{option.name}"
    %br
    = "Description: #{option.description}"
    %br
    = "Price: #{option.price}"
