<!DOCTYPE html>
<html>
<head>
  <title>Colorideo</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">&nbsp;&nbsp;ColoRideo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/cities">Cities</a></li>
        <li><a href="/cart">My Trips (<%= @cart.total %>)</a></li>
      </ul>
    </div>
  </nav>

  <% flash.each do |type, msg| %>
    <%= content_tag :div, sanitize(msg), id: "flash_#{type}" %>
  <% end %>

<%= yield %>

<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">ColoRideo</h5>
                <p class="grey-text text-lighten-4">ColoRideo is where you want to be</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">In The Spotlight</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/cities">Places to Go</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container center">
            © 2015 Colorideo
            </div>
          </div>
        </footer>

</body>
</html>
